html

  head
    title Koa2 - Demo
    link(href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css", rel="stylesheet")
    link(href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
    link(href="//cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css", rel="stylesheet")
    link(href='//cdn.bootcss.com/materialize/0.98.0/css/materialize.min.css', rel='stylesheet')
    link(href='/public/stylesheets/style.css', rel='stylesheet')

  body
    include head.pug
    main(class="grey lighten-4")
        block content
    include foot.pug
    script(src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js")
    script(src="//cdn.bootcss.com/materialize/0.98.0/js/materialize.min.js")