header
  nav
    div(class="container")
      div(class="nav-wrapper")
        a(class="brand-logo")
          i(class="material-icons") language
          span Koa-Demo
        ul(class="right hide-on-med-and-down")
          li: a 登录
          li: a 注册